.profile-body{
    display: flex;
    width: 100%;
    flex-flow: column nowrap;
    color: #080705;
    padding: none;
}

.account-info-wrapper{
    display: flex;
    flex-flow: column nowrap;
    color: #080705;
}

.edit-user-form{
    display: flex;
    flex-flow: column nowrap;
    width:100%;
}

.review-title{
    display: flex;
    flex-flow: row wrap;
}
.review-title > div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.review-title > h2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-edit-form >div> button {
    background-color: #D1313E;
    margin-top: 1em;
    border: none;
    color: #EFF1F3;
    height: 2.5em;
    border-radius: .2em;
    width: 100%;
}

.user-edit-form >div> input {

    height: 3em;
    border: .1px solid #D8D9DB;
    background-color: white;
    width: 100%;
}

.user-edit-form>.button> button:hover {
    background-color: #AC2A21;
}

.restaurant-wrapper{
    display: flex;
    flex-flow: column wrap;
    background-color: #EFF1F3;
    padding: 1em;
}
.restaurant-wrapper:hover{
    display: flex;
    flex-flow: column wrap;
    background-color: #AC2A21;
    color: #EFF1F3;
    padding: 1em;
    border-radius: .2em;
}
.restaurant-wrapper>h3{
    border-bottom:.1px solid #D8D9DB
}

.head-title{
    border-bottom: .1px solid #D8D9DB;
}
.reservation-details{
    display: flex;
    flex-flow: column wrap;
    width: 10em;
}
.title-wrapper{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.restaurant-data{
    margin-left: 2em;
    display: flex;
    align-items: stretch;
}
.restaurant-data>.description {
    margin: 1em;
}

.separator{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
}

.review-body.buttons{
    background-color: #D1313E;
}

@media screen and (min-width: 900px) {
    .profile-content{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
    }

    .form-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .profile-feature{
        display: flex;
        flex-flow: column nowrap;
        background-color: #EFF1F3;
        width: 620px;
        padding: 2em;
        margin: 2em;
    }

    .sub-header{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: flex-start;
        padding-left: 8em;
        background-color: #EFF1F3;
        color: #080705;
        border-bottom: .05em solid #D8D9DB;
        height: 10%;
        margin-bottom: 2%;


    }
    .form-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .edit-user-form{
        display: flex;
        flex-flow: column nowrap;
        width:100%;
    }
    .profile-links{
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        margin-top: 4em;
    }

    .profile-links > div {
        margin: 1em;
    }
    .profile-links > div:hover {
        margin: 1em;
        color: #287391;
    }
    .user-edit-form>div.button {
        display: flex;
        justify-content: center;
    }


}

@media screen and (max-width: 899px) {
    .profile-content{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
    }
    .profile-links{
       display: flex;
       align-items: center;
       justify-items: center;
       flex-flow: row nowrap;
       justify-content: flex-start;
       background-color: #EFF1F3;
       border-bottom: .1px solid #D8D9DB;
    }

    .profile-links>div {
        width: fit-content;
        display: flex;
        justify-content: flex-start;
        margin-left: 25px;
        color: #287391;
    }

    .form-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .profile-feature{
        display: flex;
        flex-flow: column nowrap;
        background-color: #EFF1F3;
        padding: 2em;
        margin: 2em;
    }

    .sub-header{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: flex-start;
        padding-left: 5em;
        background-color: #EFF1F3;
        color: #080705;
        border-bottom: .05em solid #D8D9DB;
        height: 15%;
    }
    .edit-user-form{
        display: flex;
        flex-flow: column nowrap;
        width:100%;
    }

    .review-wrapper{
        display: flex;
        flex-flow: column nowrap;
        background-color: #EFF1F3;
        width: 90%;
        padding: 1em;
        margin-left: 2%;
    }
}
