.footer-container {
    background-color: #2d333f;
    display: flex;
    flex-direction: column;
    padding-left: 60px;
    width:100%;
    z-index: 2;
}

.footer-title {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}

.dev-info {
    color: #fff;
    text-decoration: none;
}
.dev-info:hover {
   color:#D1313E;
}
.dev-container {
    display:flex;
    flex-direction: column;
    margin-bottom: 10px;
}
