.review-display-div {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 5px;
    width: 90%;
    margin-left: 5px;
    border-radius: 4px;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    display: flex;
}
.review-star-display {
 margin-left: 10px;
 font-size: 20px;
}
.review-user-profile-pic {
    height:70px;
    width:70px;
    border-radius: 50%;
    margin-right: 30px;
    display:flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 35px;
    color:#ffffff;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.review-user {
    margin-top: 10px;
    color: #2d333f;
}

.review-body-container {
    margin-left: 20px;
}
.review-title-display {
    width:70%;
    color: #2d333f;
}
.review-title {
    font-size: 25px;
    display: flex;
    border-bottom: 1px solid #2d333f;

}
.review-user-container {
    width: 100px;
    margin-left: 10px;
}

.review-body {
    margin-top: 20px;
    color: #2d333f;

}
