.restaurant-management-photo-container{
    display: flex;
    justify-content: left;
    flex-wrap:wrap;
    margin-left: 15%;
    margin-right: 15%
    
}

.restaurant-management-photo {
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 2px;
}

.delete-image-icon {
    font-size: 20px;
    color: rgba(125, 125, 125, .9);
    text-shadow: 1px 1px rgba(255, 255, 255, 0.3);
    position:absolute;
    margin-left: -35px;
    margin-top: 5px;

}

.delete-icon-container {
    margin-right: 30px;
    z-index: 2;
    position: relative;
}

.delete-icon-container-hidden{
    visibility: hidden;
}