body {
    font-family: 'Mukta', sans-serif;
}

.search-result-card-container {
    margin-left: auto;
    margin-right:auto;
    max-width: 650px;
    display: grid;
    grid-template-columns: repeat(2, 1fr) .3fr repeat(2, 2fr) .3fr;
    grid-template-rows: .3fr .4fr .3fr .3fr .5fr .5fr 1.5fr .3fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-bottom: -80px;
}

.photo-container { grid-area: 2 / 1 / 8 / 3; }
.name-container { 
    grid-area: 1 / 4 / 3 / 6; 
    color: #247F9E;
}
.location-container { 
    grid-area: 3 / 4 / 4 / 6; 
    font-size: 15px;
}
.stars-container { 
    grid-area: 4 / 4 / 5 / 6;
    display: flex;

}
.tags-container { grid-area: 5 / 4 / 6 / 6; }
.book-container { 
    grid-area: 6 / 4 / 7 / 6; 
    display: flex;
}
.review-container { 
    margin-top: 7px;
    grid-area: 7 / 4 / 8 / 6; 
}

.restaurant-main-photo {
    border-radius: 4px;
}

.review-count-container {
    padding-left: 10px;
    font-weight: 600;
    font-size: 14px;
    
}

.booking-count-container {
    font-weight: 600;
    padding-left: 10px;
    font-size: 14px;
}

.booking-button {
    height: 30px;
    font-weight: 500;
    border-radius: 3px;
    color: #EFF1F3;
    border:none;
    background-color: rgb(209, 49, 62);
}

.booking-button:hover {
    background-color: rgb(172, 32, 43);
}