.photo-management-header {
    margin-top: 40px;
    width: 600px;
    margin-left: 21.8%;
    margin-bottom: 20px;
}


.photo-management-header-title {
    font-size: 48px;
    margin-bottom: -20px;
}

.photo-adder-header-title {
    margin-top: -22px;
    font-size: 28px;
    margin-bottom: -16px;
}

.photo-delete-header-title {
    font-size: 28px;
    margin-top: -15px;
    margin-bottom: -16px;
}