.photo-management-header {
    margin-top: 60px;
    width: 600px;
    margin-left: 21.8%;
    margin-bottom: 20px;
}


.photo-management-header-title {
    font-size: 48px;
    margin-bottom: -20px;
}

.photo-adder-header-title {
    font-size: 36px;
    margin-bottom: -20px;
}