/* ul > li {
    display: inline-block;
    zoom:1;
    *display:inline;
    background-color: #fd5b68;


} */

.nav-bar-container {
    background-color: #2d333f;
    /* background-color: #fd5b68; */
    display: flex;
    justify-content: space-between;
}
.nav-bar-list {

}
.nav-left {
    padding-left: 10px;
    display: flex;
    width: 25%;
    justify-content: flex-start;
    justify-content: space-between;
    align-items: center;
}
.nav-right {
    width: 30%;
    display: flex;
    justify-content: flex-end;
    justify-self: space-between;
    align-items: center;
    padding-right: 25px;
}

.nav-signup {
    border: solid 1px #247f9e;
    background-color: #247f9e;
    color: rgb(239,241,243);
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 4px;
    margin-right: 30px;

}
.demo-user-button {
    position: relative;
    right:50px;
    height:29px;
    border-radius: 4px;
    border: 0px;
    padding-left: 10px;
    padding-right: 10px;
    color: rgb(239,241,243);
    background: linear-gradient(rgba(36, 127, 158, 0.8), rgba(218, 55, 67, 0.5));
}
.demo-user-button:hover {
    background: linear-gradient( rgba(218, 55, 67, 0.5),rgba(36, 127, 158, 0.8));
}

.nav-user {
    border: solid 1px #247f9e;
    background-color: #247f9e;
    color: rgb(239,241,243);
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 4px;
    margin-right: 30px;
    height:29px;
    display: flex;
    align-items: center;
}
.nav-signup:hover {
    box-shadow: 0px 3px 5px -2px black;
}
.nav-login:hover {
    box-shadow: 0px 3px 5px -2px black;
}

.nav-login {
    background-color: rgb(239,241,243);
    border: solid 1px rgb(239,241,243);
    color: #247f9e;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 6px;
}

.link {
    /* color:green; */
    text-decoration: none;
}

.nav-home{
    color: rgb(239,241,243);
    font-size: 30px;
    overflow:visible;
}
.nav-welcome {
    color:rgb(239,241,243);
    font-weight: bold;
    font-size: 18px;
    width: 250px;
}

.nav-middle {
    padding-left: 10%;
    padding-top: 10px;
}