.body-wrapper {
    display: grid;
    grid-template-areas:
        "gallery gallery gallergy gallery"
        "tcard tcard rcard"
        "tcard tcard rcard"
        "review review ."
        "review review .";
        padding: 5%;

}

.gallery-slider{
    display: flex;
    flex-direction: row;
    grid-area: "gallery";
    border: 1px solid red;

}

.title-card{
    display: flex;
    justify-content: flex-start;
    grid-area: "tcard";
    border: 1px solid green;
    width: 60%;
}

.reservation-card{
    display: flex;
    flex-flow: column nowrap;
    grid-area: "rcard"
}

.review-wrapper{
    display: flex;
    flex-flow: column nowrap;
    grid-area: "review";
}

.section-title{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}

.review-card{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}

.review-header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}

.review-body{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}

.review-form-wrapper{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.review-form-wrapper form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}
