

.search-bar-container {
    background-color: #2d333f;
    border-bottom: 3px solid #D8D9DB;
}

.top-level-container {
    display: flex;
    justify-content: space-evenly;
    max-width: 1200px;
    margin-left: auto;
    margin-right:auto;
    padding-right: 300px;
}

.photo-gallery-container {
    margin-left: 300px;
}